{% extends 'index.html' %}
{% block content %}
<h1 class="h1">{{tourn.name}}</h1>
<table class="table-secondary">
    <tr>
        <th>Teams in tournament</th>
    </tr>
    {% for team in tourn.teams %}
    <tr>
        <td>{{ team.name }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<table class="table">
    <tr>
        <th>team 1</th>
        <th>team 2</th>
        <th>Match1</th>
        <th>Match2</th>
        <th>Match3</th>
    </tr>
{% for match in tourn.get_ongoing_matches() %}
    <tr class="tab-content">
        <td>
            {{ match.team1 }}
        </td>
        <td>
            {{ match.team2 }}
        </td>
        <td>
            {{ match.point1 }}
        </td>
        <td>
            {{ match.point2 }}
        </td>
        <td>
            {{ match.point3 }}
        </td>
    </tr>
{% endfor %}
</table>

<form method="POST" action="/newMatches/{{ tourn.id }}" class="form-control">
    <button class="btn-success">Calculate new matches</button>
</form>
{% endblock %}

