{% extends 'index.html' %}
{% block content %}
<h1 class="headline">{{tourn.name}}</h1>
<table class="table-secondary">
    <tr>
        <th>Teams in tournament</th>
    </tr>
    {% for team in tourn.teams %}
    <tr>
        <td>{{ team.name }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<table class="table">
    <tr>
        <th>team 1</th>
        <th>team 2</th>
        <th>Match1</th>
        <th>Match2</th>
        <th>Match3</th>
    </tr>
{% for match in tourn.get_ongoing_matches() %}
    <tr class="tab-content">

        <td>
            {{match.team1}}
        </td>
        <td>
            {{ match.team2 }}
        </td>
        {% if match.point1 %}
        <td>
            {{ match.point1 }}
        </td>
        {% if match.point2 %}
        <td>
            {{ match.point2 }}
        </td>
        {% if match.point3 %}
        <td>
            {{ match.point3 }}
        </td>
        {% endif %}
        {% endif %}
        {% endif %}
        {% if not match.point1 or not match.point2 or not match.point3 %}
        <td>
            <form method="POST" action="/addpoints/{{match.id}}">
                <input class="" name="point_t1" placeholder="t1" type="number">
                x
                <input class="" name="point_t2" placeholder="t2" type="number">
                <button class="btn-light input-group-text">submit</button>
            </form>
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>

<form method="POST" action="/newMatches/{{ tourn.id }}" class="form-control">
    <button class="btn-success">Calculate new matches</button>
</form>
{% endblock %}

